.Link{
    font-size: 24px;
    color: #333;
    padding: .5rem;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

.messagetext {
    background-color: gold;
    text-align: center;
    padding: 1rem;
    color: red;
    text-transform: capitalize;
}

.app__logout {
    color: #fff;
    background: orange;
    width: 100%;
    padding: 1rem 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.app__logout h1 {
    border: 1px solid #fff;
    padding: 1rem 2rem;
    border-radius: 10px;
}

.app__logout button {
    text-align: center;
    border: none;
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: bold;
}

.app__logout button:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

/*************MEDIA QUERIES*****************/

@media screen and (max-width: 650px) {
    .Link{
        display: block;
    }
    .app__logout {
        min-height: 70vh;
    }
}